<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Houses</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="center">
    <img src="/img/taj-mahal.svg" alt="taj" class="taj-mahal">
    <h1 class="hello">Indian Food of Northwest Arkansas</h1>
  </div>
  </body>
</html>
