<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Arkansas Indian Food</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="sticky-area">
      <nav>
        <a href="#">Home</a>
        <a href="#">Reviews</a>
        <a href="#">Culture</a>
        <a href="#">About Us</a>
      </nav>
    <div class="login">
      <a href="#">Login</a>
    </div>
    </div>
    <div class="center">
    <img src="/img/taj-mahal.svg" alt="taj" class="taj-mahal">
    <h1 class="hello">Indian Food of Northwest Arkansas</h1>
  </div>

  <% reviews.forEach((review) => { %>
    <div class="home-boxes">
      <div>
        <img src="<%= review.imgUrl %>" alt="curry" class="curry-point-curry">
      </div>

      <div class="text">
        <h1><%= review.name %></h1>
        <p><%= review.location %></p>
        <p><%= review.info %></p>
        <% for (var i = 0; i < review.tajMahals; i++) { %>
          <img src="/img/ratings-icon.svg" alt="ratings" class="ratings">
        <% } %>
      </div>
    </div>
  <% }); %>
  </body>
</html>
